In [43]:
import pandas as pd

In [44]:
result_2019 = pd.read_csv("../data/processed/result_2019.csv")

In [45]:
result_2020 = pd.read_csv("../data/processed/result_2020.csv")

In [46]:
submission = pd.concat([result_2019, result_2020])

In [47]:
# We need to truncate the results. Otherwise the constraints are violated due to floating point issues
# see https://stackoverflow.com/a/49960574
def truncate(theNumber, theDigits):
    myDigits = 10 ** theDigits
    return (int(theNumber * myDigits) / myDigits)

In [48]:
submission['value'] = submission['value'].apply(lambda x: truncate(x,2))

In [51]:
submission[submission["value"] < 0.0]

Empty DataFrame
Columns: [Unnamed: 0, year, data_type, demand_point_index, supply_point_index, value]
Index: []

In [49]:
submission

,Unnamed: 0,year,data_type,demand_point_index,supply_point_index,value
0,0,2019,SCS,NaN,0,5.0
1,1,2019,SCS,NaN,1,4.0
2,2,2019,SCS,NaN,2,6.0
3,3,2019,SCS,NaN,3,5.0
4,4,2019,SCS,NaN,4,11.0
...,...,...,...,...,...,...
409795,409795,2020,DS,4095.0,95,0.0
409796,409796,2020,DS,4095.0,96,0.0
409797,409797,2020,DS,4095.0,97,0.0
409798,409798,2020,DS,4095.0,98,0.0
409799,409799,2020,DS,4095.0,99,0.0

In [50]:
submission.to_csv("../data/processed/submission.csv")