In [1]:
import pandas as pd

In [26]:
result_2019 = pd.read_csv("../data/processed/result_2019.csv")

In [27]:
result_2020 = pd.read_csv("../data/processed/result_2020.csv")

In [28]:
submission = pd.concat([result_2019, result_2020])

In [29]:
submission[submission["value"] < 0.0] = 0

In [30]:
submission

,Unnamed: 0,year,data_type,demand_point_index,supply_point_index,value
0,0,2019,SCS,NaN,0,5.0
1,1,2019,SCS,NaN,1,4.0
2,2,2019,SCS,NaN,2,6.0
3,3,2019,SCS,NaN,3,5.0
4,4,2019,SCS,NaN,4,11.0
...,...,...,...,...,...,...
409795,409795,2020,DS,4095.0,95,0.0
409796,409796,2020,DS,4095.0,96,0.0
409797,409797,2020,DS,4095.0,97,0.0
409798,409798,2020,DS,4095.0,98,0.0
409799,409799,2020,DS,4095.0,99,0.0

In [31]:
submission.to_csv("../data/processed/submission.csv")